@model IEnumerable<BookShelph.Models.Gender>
<!--begin: Datatable-->
<table class="table table-separate table-head-custom table-hover table-striped" id="genders" data-url="@Url.Action("Index")">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>

            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>

                <td nowrap="nowrap">
                    <button type="button" class="btn btn-transparent-warning font-weight-bold mr-2 btn-sm" data-toggle="ajax-modal" data-target="#edit-gender" data-url="@Url.Action("Edit", "Genders", new { id = @item.Id})">
                        Edit
                    </button>
                    <button type="button" class="btn btn-transparent-danger font-weight-bold mr-2 btn-sm" data-toggle="ajax-modal" data-target="#delete-gender" data-url="@Url.Action("Delete", "Genders", new { id = @item.Id})">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!--end: Datatable-->
