@model IEnumerable<BookShelph.Models.Narrator>

@{
    ViewData["Title"] = "Index";
}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                Narrator
                <span class="d-block text-muted pt-2 font-size-sm">Index</span>
            </h3>
        </div>
        <div class="card-toolbar">
            <!--begin::Button-->
            <a asp-action="Create" class="btn btn-primary font-weight-bolder">
                <i class="la la-plus"></i>New Record
            </a>
            <!--end::Button-->
        </div>
    </div>
    <div class="card-body">
        <!--begin: Datatable-->
        <table class="table table-separate table-head-custom table-hover table-striped" id="datatable">
            <thead>
                <tr>

                    <th>
                        Name
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OtherName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmailAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th>Actoins</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OtherName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td nowrap="nowrap">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="font-weight-bold mr-2">
                                <i class="fas fa-edit text-warning"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="font-weight-bold mr-2">
                                <i class="far fa-trash-alt text-danger"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <!--end: Datatable-->
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                "columnDefs": [
                    {
                        // The `data` parameter refers to the data for the cell (defined by the
                        // `data` option, which defaults to the column being worked with, in
                        // this case `data: 0`.
                        "render": function (data, type, row) {
                            return data + ' ' + row[1] + ' ' + row[2];
                        },
                        "targets": 0
                    },
                    { "visible": false, "targets": [1] },
                    { "visible": false, "targets": [2] },
                ]
            });
        });
    </script>
}
